{% extends "base.html" %}


{% block title %}
Dashboard - Hiring Pipeline
{% endblock %}


{% block content %}

    <h1>Dashboard</h1>

    <p>
        Welcome,
        <strong>{{ current_user.name }}</strong>
    </p>

    <p>
        Your role:
        <strong>{{ current_user.role }}</strong>
    </p>

    {% if current_user.role == "recruiter" %}

        <a
            class="btn"
            href="{{ url_for('jobs.job_list') }}"
        >
            Manage Job Openings
        </a>

    {% endif %}

{% endblock %}